/* Write your CSS here */
.team-matches-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
  background-size: cover;
  min-height: 100vh;
}
.team-banner {
  height: 40vh;
  width: 90vw;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-banner {
    height: 60vh;
    width: 90vw;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-matches-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
